{% extends "admin_base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <form class="col-sm-offset-3 col-sm-6" action="{% url 'password_reset' %}" method="POST">
                {% csrf_token %}

                <div class="form-group">
                {{ form.email.errors }}
                <h2>Need to reset your password?</h2>
                <label>email</label>
                <input type="email" name="email" class="form-control">
                    
                </div>
                </br>
                <button class="btn" type="submit">DON'T PUSH ME</br>(push me)</button>
            </form>
                
        </div>
    </div>    


{% endblock %}