{% extends "admin_base.html" %}

{% block content %}
   
   <div class="container">
   <div class="row">
   <div class="col-sm-offset-3 col-sm-6">

        <h1>All done!</h1>
        </br>
        </br>
        <h3>Don't you just feel cleaner now? Relaxed?</h3>
        </br>
        <h3>Something like this?</h3>

        <img src="http://ecdn.funzypics.com/grumpycatmemes/pics/16/Huge-Cat.jpg">

        </br>
                </br>
        

        <h3>Or do you feel more aggressively awesome?</h3>
               </br>
        
        <img src="http://i.imgur.com/JNtOKHb.jpg">





   </div>
   </div>
   </div>







{% endblock %}