{% extends "admin_base.html" %}

{% block content %}

            {% csrf_token %}

        <input type="hidden" name="type" value="login">
    <div class="container">
        <div class="row">
            <form id="user-login-form" method="POST" class="col-sm-offset-3 col-sm-6" style="{% if error_on_create %}display:none{% endif %}">
                {% if error %} <p class="text-danger">{{ error }}</p>{% endif %}
                
                {% csrf_token %}

                <div class="form-group">
                {{ form.new_password1.errors }}
                    <label>New password</label>
                    <input class="form-control" type="password" name="new_password1">
                </div>

                <div class="form-group">
                {{ form.new_password1.errors }}
                    <label>Confirm new password</label>
                    <input type="password" name="new_password2" class="form-control">
                </div>

                <button type="submit" class="btn">Get your ass in here</button>

                </br>

                {# <a href="#" id="switch-to-create">Or you can apply for membership.</a> #}

            </form>
            </div>
    
{% endblock %}