{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    

{% for post in posts %}
                <hr>
                <div class="post-preview">
                    <a href="{% url 'edit_post' post.id %}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                        {{ post.text | truncatewords:'10' }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{ post.author.username }}</a> on {{ post.date_posted }}</p>
                </div>
                <hr>

{% endfor %}

{% endblock %}