{% extends "admin_base.html" %}
{% load staticfiles %}

{% block content %}

    <link href="{% static 'css/blog_old.css' %}" rel="stylesheet">

<div class="container-fluid">
<div id="wrapper" class="col-md-offset-3 col-md-6">

        <h1>TYPE SOMETHING NEW. REALLY, REALLY NEW.</h1>
        <hr>
        <div>{{ message }}</div>
        <form id="post-form" enctype="multipart/form-data" action="{% url 'create_post' %}" method="POST">
                {% csrf_token %}

                <input type="hidden" name="author" value="1">

                <div class="form-group">
                <label>Title</label>
                <input type="text" name="title">
                </div>
                </br>
                <div class="form-group">
                <label>Content</label>
                <textarea name="text"></textarea>
                </br>
                </div>             

        
        <button type="submit" class="btn btn-default"><i class="fa fa-bolt"></i> Be a maker, you bad thang</button>
        </br>
        </br>

        <div class="form-class">
        <label for="exampleInputFile">Featured image</label>
                <input type="file" name="featured_image" id="exampleInputFile">
                <p class="help-block">File for the header of the post</p>
                
        </div>

</div>
</div>
</form>

<div class="row">
        <ul class="col-sm-offset-1 col-sm-10">
                {% for post in posts %}
                <li><a href="#">{{ post.title }}</a></li>

                {% endfor %}
        </ul>
</div>


{% endblock %}
